<script setup>
import { ref, computed, watch } from 'vue'
import { onBeforeMount} from "vue";
import TreeMap from "./TreeMap.vue";

const ALL_REGIONS = "Alle"
const allReadedTrees = ref([])
const sortenFiltered = ref([])
const selectedSorte = ref('');
const selectedLandkreis = ref({});
const showEsri = ref(false)

function isTreeSelected(tree) {
    return selectedSorte.value === null || selectedSorte.value.length === 0
        || tree.s.toLowerCase().includes(selectedSorte.value.toLowerCase());
}

const filteredTrees = computed(() => {

    return allReadedTrees.value.filter(tree=>(isTreeSelected(tree))
        && ((selectedLandkreis.value.value ===ALL_REGIONS) || selectedLandkreis.value.value ===tree.k))
});

const alleSortenNamen = computed(() => {
    const bezeichnungen = allReadedTrees.value.map(tree=>tree.s);
    return [...new Set(bezeichnungen)].sort(); // unique bezeichnungen
});

function regionWithCount(region) {
    const countInKreis =  allReadedTrees.value
        .filter(tree=> isTreeSelected(tree) && region===tree.k)
        .length;
    return { value: region, label: region + " ("+countInKreis+")"}
}

function allWithCount() {
  const countAlle =  allReadedTrees.value
      .filter(tree=> isTreeSelected(tree))
      .length;
  return { value: ALL_REGIONS, label: ALL_REGIONS + " ("+countAlle+")"}
}

const regions = computed (() => {

    const kreiseObj = new Set(allReadedTrees.value
        .map( tree => tree.k));
    const kreise =  [...kreiseObj].sort();
    const kreisWithCount = kreise
        .map( kreis => regionWithCount(kreis));
    kreisWithCount.unshift(allWithCount() )
    selectedLandkreis.value = selectedLandkreis.value.value === ALL_REGIONS ? allWithCount() : regionWithCount(selectedLandkreis.value.value)
    return kreisWithCount;
});

function  filterFnAutoselect (val, update) {

    setTimeout(() => {
        update(
            () => {
                    sortenFiltered.value = (val === '') ? alleSortenNamen.value
                        : alleSortenNamen.value.filter(v => v.toLowerCase().indexOf(val.toLowerCase()) > -1)
            },

            ref => {
                if (val !== '' && ref && ref.options.length > 0 && ref.getOptionIndex() === -1) {
                    ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
                    ref.toggleOption(sortenFiltered.value[ ref.optionIndex ], true) // toggle the focused option
                }
            }
        )
    }, 300)
}

onBeforeMount(async () => {
    // const response = await fetch("/AlleBaeumeBezirkSchwaben.json");
    // allReadedTrees.value = await response.json();
    allReadedTrees.value = window.treesSchwaben
    filteredTrees.value =  allReadedTrees.value
    sortenFiltered.value = alleSortenNamen.value
    selectedLandkreis.value = allWithCount()
});

</script>

<template>

    <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-white text-primary q-py-xs">
            <div  class="row">
                <q-select class="col" outlined v-model="selectedLandkreis" :options="regions" label="Kreis" stack-label :dense="true" :options-dense="true"/>
                <q-select outlined class="col" v-model="selectedSorte" clearable use-input hide-selected fill-input  :dense="true" :options-dense="true"
                          input-debounce="0"  label="Sorte" :options="sortenFiltered"  @filter="filterFnAutoselect" >
                    <template v-slot:no-option>
                        <q-item>
                            <q-item-section class="text-grey">
                                Keine Ergebnisse
                            </q-item-section>
                        </q-item>
                    </template>
                </q-select>
                <div class="col"> <q-checkbox outlined v-model="showEsri" label="Satellit"/></div>
            </div>
        </q-header>

        <q-page-container>
            <q-page>
                <TreeMap :filtered-trees="filteredTrees" :show-esri="showEsri"></TreeMap>
            </q-page>
        </q-page-container>
    </q-layout>
 </template>

<style scoped>

</style>
