<template>

    <div class="map-center" id = "mapId"> </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div>
            <p>{{selectedTree.n}}</p>
            <code>{{selectedTree.s}}</code>
            <p>{{selectedTree.g}}</p>
        </div>
    </div>

</template>


<script setup>
import {onMounted, ref, watch} from "vue";
import { Map, View } from 'ol';
import Overlay from 'ol/Overlay.js';
import { Tile, Vector  } from 'ol/layer';
import {fromLonLat, toLonLat} from 'ol/proj.js';
import {boundingExtent} from 'ol/extent.js';
import { OSM, Cluster, XYZ  } from 'ol/source';
import VectorSource from 'ol/source/Vector.js';
import {Point} from 'ol/geom.js';
import Feature from 'ol/Feature.js';
import {ZoomToExtent, FullScreen, defaults as defaultControls} from 'ol/control.js';
import {
    Circle as CircleStyle,
    Fill,
    Icon,
    Stroke,
    Style,
    Text,
} from 'ol/style.js';

const props = defineProps({
    filteredTrees: {
        type: Array,
        default(rawProps) {
            return []
        }
    },
    showEsri:Boolean,
})

const centerWebMercator = fromLonLat([ 9.98707478439496,48.404200449630316]);
var map = null;
const selectedTree = ref("");
const CLUSTER_ZOOM_LEVEL = 15;
const markerSource = new VectorSource({
    features: [],
});
const osmLayer =new Tile({source: new OSM()})
const esriLayer = new Tile({
    source: new XYZ({
        attributions:
            'Tiles © <a href="https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Imagery/MapServer">ArcGIS</a>',
        url:
            'https://server.arcgisonline.com/ArcGIS/rest/services/' +
            'World_Imagery/MapServer/tile/{z}/{y}/{x}}',
    }),
    visible: props.showEsri
});
const extentControl = new ZoomToExtent({ extent: [ 1071037.1035744152, 6009114.537971, 1255779.6064949369, 6274949.685278939 ],label: 'Z', tipLabel: "Zoom auf Ausgewählte "})

watch(() => props.showEsri,  (first, second) =>{

    esriLayer.setVisible(props.showEsri);
    osmLayer.setVisible(!props.showEsri);
})

watch(() => props.filteredTrees,  () => {

    updateTrees();
}, { immediate: true })


function updateTrees() {

    const allMarker = [];
    props.filteredTrees.forEach(tree => {
            const feature = new Feature({type: 'geoMarker', geometry: new Point(fromLonLat([tree.o.long, tree.o.lt], ))});
            feature.set("tree", tree);
            allMarker.push(feature);
        }
    );
    markerSource.clear();
    markerSource.addFeatures(allMarker);
    const extent = boundingExtent(
        allMarker.map((r) => r.getGeometry().getCoordinates())
    );
    extentControl.extent = extent;
    console.log(extent);
}

onMounted(async () => {

    const container = document.getElementById('popup');
    const closer = document.getElementById('popup-closer');
    const markerTreeStyle = [new Style({ image: new Icon({ anchor: [0.5, 1], src: 'tree-solid.png'}), }),
        new Style({
            image: new CircleStyle({radius: 20, fill: new Fill({ color: 'rgba(255, 153, 102, 0.3)'})}),
        }),];

    const clusterCircleStyle = (feature) => {

        const size = feature.get('features').length;
        return [
            new Style({
                image: new CircleStyle({radius: 20, fill: new Fill({ color: 'rgba(255, 153, 102, 0.3)'})}),
            }),
            new Style({
                image: new CircleStyle({radius: 14, fill: new Fill({  color: 'rgba(255, 165, 0, 0.7)'})}),
                text: new Text({
                    text: size.toString(),
                    fill: new Fill({color: '#fff'}),
                    stroke: new Stroke({color: 'rgba(0, 0, 0, 0.6)', width: 3,}),
                }),
            }),
        ];
    }

    const overlay = new Overlay({
        element: container,
        autoPan: {
            animation: {
                duration: 250,
            },
        },
    });
    closer.onclick = function () {
         overlay.setPosition(undefined);
         closer.blur();
         return false;
    };

    map = new Map({
        target: 'mapId',
        controls: defaultControls().extend([new FullScreen(), extentControl]),
        layers: [ osmLayer, esriLayer],
        view: new View({ center: centerWebMercator,zoom: 8.5, maxZoom:19}),
        overlays: [overlay],
    })
    updateTrees()
    const clusterSource = new Cluster({ distance: 40, minDistance: 1, source: markerSource, });
    const markerLayer = new Vector({ source: markerSource, style: markerTreeStyle, minZoom: CLUSTER_ZOOM_LEVEL});
    const clusterLayer = new Vector({source: clusterSource, style: clusterCircleStyle, maxZoom: CLUSTER_ZOOM_LEVEL});
    map.addLayer(clusterLayer);
    map.addLayer(markerLayer);
    map.on('click', (event) => {
        if(map.getView().getZoom() < CLUSTER_ZOOM_LEVEL) {

            clusterLayer.getFeatures(event.pixel).then((clickedFeatures) => {
                if (clickedFeatures.length) {
                    const features = clickedFeatures[0].get('features');
                    const extent = boundingExtent(
                        features.map((r) => r.getGeometry().getCoordinates())
                    );
                    map.getView().fit(extent, {duration: 1000, padding: [50, 50, 50, 50]});
                }
            });
        }
        if(map.getView().getZoom() >= CLUSTER_ZOOM_LEVEL) {
            markerLayer.getFeatures(event.pixel).then((clickedFeatures) => {
                if (clickedFeatures.length) {
                    selectedTree.value =  clickedFeatures[0].get("tree")
                    overlay.setPosition(event.coordinate);
                } else {
                    overlay.setPosition(undefined);
                }
            });
        }
    });
});


</script>
<style scoped>

.map-center {
    width: 100%; height: 100%; position:fixed
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
</style>