<div id="vapp">
</div>
<script>
    /* <![CDATA[ */
    Vue.component('MarkerClusterGroup', {
        data() {
            return {
                ready: false,
            };
        },
        mounted() {
            const props = {spiderfyOnMaxZoom: false, disableClusteringAtZoom: 17};
            this.mapObject = L.markerClusterGroup(this.options);
            L.DomEvent.on(this.mapObject, this.$listeners);
            window.Vue2Leaflet.propsBinder(this, this.mapObject, props);
            this.ready = true;
            this.parentContainer = window.Vue2Leaflet.findRealParent(this.$parent);
            this.parentContainer.addLayer(this);
            this.$nextTick(() => {
                this.$emit('ready', this.mapObject);
            });
        },
        template:
            "  <div style=\"display: none;\">" +
            "    <slot v-if=\"ready\"><\/slot>" +
            "  <\/div>",
        beforeDestroy() {
            this.parentContainer.removeLayer(this);
        },
        methods: {
            addLayer(layer, alreadyAdded) {
                if (!alreadyAdded) {
                    this.mapObject.addLayer(layer.mapObject);
                }
            },
            removeLayer(layer, alreadyRemoved) {
                if (!alreadyRemoved) {
                    this.mapObject.removeLayer(layer.mapObject);
                }
            }
        }
    })

    const vueApp = new Vue({
        el: '#vapp',
        template:"<div>" +
            "<div>Hier Landkreis auswählen<\/div>"+
            "<div class=\"search-area\">" +
            "<div class=\"regionen\"><select v-model=\"filterKreis\">\n" +
            "  <option v-for=\"option in regions\" v-bind:value=\"option.value\">\n" +
            "    {{ option.text }}\n" +
            "  <\/option>\n" +
            "<\/select><\/div>"+
            "<div> <input class=\"sorten\" v-model=\"filterText\" type=\"search\" list=\"sorten-list\" id=\"idSorten\" name=\"Sorten\" placeholder=\"Sorten Suche \" />\n" +
            "  <datalist id=\"sorten-list\">\n" +
            "    <option v-for=\"name in treesNames\" :key=\"name\">{{ name }}<\/option>\n" +
            "  <\/datalist>" +
            "<\/div>\n" +
            "<\/div>\n" +
            "<l-map style=\"height: 600px; width: 1024px\" :zoom=\"zoom\" :center.sync =\"center\" :max-zoom=\"iMaxZoom\">\n" +
            "        <l-control-layers position=\"topright\"><\/l-control-layers>\n" +
            "        <l-tile-layer\n" +
            "                v-for=\"tileProvider in tileProviders\"\n" +
            "                :key=\"tileProvider.name\" :name=\"tileProvider.name\"\n" +
            "                :visible=\"tileProvider.visible\"\n" +
            "                :url=\"tileProvider.url\" :attribution=\"tileProvider.attribution\"\n" +
            "                layer-type=\"base\"\n" +
            "                :options=\"{maxNativeZoom:18, maxZoom:20}\"  maxNativeZoom=18 :max-zoom=\"iMaxZoom\">\n" +
            "        <\/l-tile-layer>\n" +
            "        <marker-cluster-group>\n" +
            "            <l-marker v-for=\"garden in treesAroundFilterd\" :key=\"garden.id\" :lat-lng=\"markerGarden(garden)\">\n" +
            "                <l-icon\n" +
            "                        :icon-size=\"[20, 20]\"\n" +
            "                        icon-url=\"/app/download/16262776222/tree-solid.png?t=1645938517\" >\n" +
            "                <\/l-icon>\n" +
            "                <l-popup>\n" +
            "                    <address>\n" +
            "                        {{garden.a}} {{garden.n}}<br>\n" +
            "                        <strong class=\"text-info\">{{garden.s}}<\/strong><br>\n" +
            "                        {{garden.g}}<br>\n" +
            "                    <\/address>\n" +
            "                    <p>{{garden.beschreibung}}<\/p>\n" +
            "                <\/l-popup>\n" +
            "        <\/marker-cluster-group>\n" +
            "    <\/l-map>" +
            "<\/div>",
        data: {
            zoom: 9,
            center:  [48.6384, 9.9619],
            iMaxZoom: 20,
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            attribution:
                '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap<\/a> contributors',
            tileProviders: [
                {
                    name: 'OpenStreetMap',
                    visible: true,
                    attribution:'&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap<\/a> contributors',
                    url: 'https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png',
                },
                {
                    name: 'Esri.WorldImagery',
                    visible: false,
                    url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                    attribution:
                        'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                }
            ],
            allTrees: [{"n":"7731","s":"1 Bohnapfel","o":{"lt":48.222371,"long":10.12052971},"k":"NU","g":"Illertissen","a":"Apfel"}
                ,{"n":"7732","s":"Welschisner","o":{"lt":48.22244842,"long":10.12071526},"k":"NU","g":"Illertissen","a":"Apfel"}],
            markerLatLng: [48.74642657, 10.94072907],
            filterText:"",
            filterKreis:"NU",
        },
        components: {
            'l-map': window.Vue2Leaflet.LMap,
            'l-marker': window.Vue2Leaflet.LMarker,
            'l-icon': window.Vue2Leaflet.LIcon,
            'l-popup': window.Vue2Leaflet.LPopup,
            'l-tile-layer': window.Vue2Leaflet.LTileLayer,
            'l-control-layers': window.Vue2Leaflet.LControlLayers,
        },
        computed: {
            treesAroundFilterd () {
                return this.allTrees.filter(tree=>(this.filterText.length === 0
                        || tree.s.toLowerCase().includes(this.filterText.toLowerCase()))
                    && ((this.filterKreis==="Alle") || this.filterKreis===tree.k))

            },
            regions () {

                const kreiseObj = new Set(this.allTrees.map( tree => tree.k));
                const kreise =  [...new Set(kreiseObj)].sort();
                const kreisOptions = kreise.map( kreis => this.regionOption(kreis));
                const count = this.allTrees.filter(tree=>(this.filterText.length === 0
                    || tree.s.toLowerCase().includes(this.filterText.toLowerCase()))).length;
                const disabled = (count > 1000)
                kreisOptions.push({ value: "Alle", text: "Alle ("+count+")", disabled: disabled})
                return kreisOptions;
            },
            treesNames () {
                const bezeichnungen = this.allTrees.map(tree=>tree.s);
                return [...new Set(bezeichnungen)].sort(); // unique bezeichnungen
            },
        },
        mounted() {
            this.initMap();
        },
        methods: {
            initMap() {
                this.allTrees = window.allTreesSchwaben
            },
            markerGarden(garden) {
                const lat = (garden.o) ? garden.o.lt : null;
                const long = (garden.o) ? garden.o.long : null;
                return (lat && long) ? [lat, long] : null;
            },
            regionOption(region) {
                const count =  this.allTrees.filter(tree=>(this.filterText.length === 0
                        || tree.s.toLowerCase().includes(this.filterText.toLowerCase()))
                    &&region===tree.k).length;
                return { value: region, text: region + " ("+count+")"}
            }
        }
    })
    /*]]>*/
</script>