<script setup>

</script>

<template>
    <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white">
            <q-toolbar>
                <q-btn dense flat round icon="menu" @click="left = !left"> </q-btn>
                <q-toolbar-title>
                    <q-avatar>
                        <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
                    </q-avatar>
                    Title
                </q-toolbar-title>
            </q-toolbar>
        </q-header>
        <q-page-container>
            <q-page style="background-color: pink;">
                <div id="troublemaker" style="background-color: green; height: 100%;">
                    <div>123</div>
                </div>
            </q-page>
        </q-page-container>

    </q-layout>
</template>

<style scoped>
.test1 {
    width: 100%;
    height: 100%;
    color: #00AAFF;
}

</style>