<template>
    <div style="height:600px; width:800px">
        <l-map ref="map" :zoom="zoom" :center="center" :maxZoom="iMaxZoom" :use-global-leaflet="false">
            <l-tile-layer
                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                    layer-type="base"
                    name="OpenStreetMap"
            ></l-tile-layer>
        </l-map>
    </div>
</template>

<script setup>
import "leaflet/dist/leaflet.css";
import { LMap, LTileLayer } from "@vue-leaflet/vue-leaflet";
import {ref} from "vue";

const zoom = ref(8);
const center = ref([48.404200449630316, 9.98707478439496]);
const iMaxZoom= ref(20);

</script>

<style scoped>

</style>