<script setup>
import {reactive, ref, inject } from 'vue'
import { onMounted } from "vue";
import { Map, View } from 'ol';
import { Tile } from 'ol/layer';
import {fromLonLat} from 'ol/proj.js';
import { OSM } from 'ol/source';
import {LineString, Point, Polygon} from 'ol/geom.js';
import Feature from 'ol/Feature.js';
import {
    Circle as CircleStyle,
    Fill,
    Icon,
    Stroke,
    Style,
    Text,
} from 'ol/style.js';

const centerWebMercator = fromLonLat([ 9.98707478439496,48.404200449630316]);
const projection = ref("EPSG:3857");
const zoom = ref(8);
const rotation = ref(0);
const trees = reactive([])
const selectedTreePosition = ref([]);
const selectedTree = ref("");
var map = null;

const darkIcon = new Icon({
    src: '/tree-solid.png',
});
const lightIcon = new Icon({
    src: '/tree-solid.png',
});


onMounted(async () => {
    map = new Map({
        target: 'map',
        layers: [
            new Tile({
                source: new OSM()
            })
        ],
        view: new View({
            center: centerWebMercator,
            zoom: 8
        })
    })
});

const featureSelected = (event) => {
    console.log(event);
    if (event.selected.length == 1) {
        selectedTreePosition.value = event.selected[0].values_.coord;
        selectedTree.value = event.selected[0].values_.s;
    } else {
        selectedTree.value = "";
    }
};

const selectInteactionFilter = (feature) => {
    //console.log(feature);
    return feature.values_.s != undefined;
};

function generatePointsCircle(count, clusterCenter, resolution) {
    const circleDistanceMultiplier = 1;
    const circleFootSeparation = 28;
    const circleStartAngle = Math.PI / 2;
    const circumference =
        circleDistanceMultiplier * circleFootSeparation * (2 + count);
    let legLength = circumference / (Math.PI * 2); //radius from circumference
    const angleStep = (Math.PI * 2) / count;
    const res = [];
    let angle;

    legLength = Math.max(legLength, 35) * resolution; // Minimum distance to get outside the cluster icon.

    for (let i = 0; i < count; ++i) {
        // Clockwise, like spiral.
        angle = circleStartAngle + i * angleStep;
        res.push([
            clusterCenter[0] + legLength * Math.cos(angle),
            clusterCenter[1] + legLength * Math.sin(angle),
        ]);
    }

    return res;
}

function clusterMemberStyle(clusterMember) {
    return new Style({
        geometry: clusterMember.getGeometry(),
        image: clusterMember.get('LEISTUNG') > 5 ? darkIcon : lightIcon,
    });
}


const clusterCircleStyle = (cluster, resolution) => {
/*
    if (cluster !== clickFeature || resolution !== clickResolution) {
        return;
    }
*/
    const convexHullStroke = new Stroke({
        color: 'rgba(204, 85, 0, 1)',
        width: 1.5,
    });
    const clusterMembers = cluster.get('features');
    const centerCoordinates = cluster.getGeometry().getCoordinates();
    return generatePointsCircle(
        clusterMembers.length,
        cluster.getGeometry().getCoordinates(),
        resolution
    ).reduce((styles, coordinates, i) => {
        const point = new Point(coordinates);
        const line = new LineString([centerCoordinates, coordinates]);
        styles.unshift(
            new Style({
                geometry: line,
                stroke: convexHullStroke,
            })
        );
        styles.push(
            clusterMemberStyle(
                new Feature({
                    ...clusterMembers[i].getProperties(),
                    geometry: point,
                })
            )
        );
        return styles;
    }, []);
}

const overrideStyleFunction = (feature, style) => {
    let clusteredFeatures = feature.get("features");
    let size = clusteredFeatures.length;

    let color = size > 20 ? "192,0,0" : size > 8 ? "255,128,0" : "0,128,0";
    var radius = Math.max(8, Math.min(size, 20));
    let dash = (2 * Math.PI * radius) / 6;
    let calculatedDash = [0, dash, dash, dash, dash, dash, dash];

    style.getImage().getStroke().setLineDash(dash);
    style
        .getImage()
        .getStroke()
        .setColor("rgba(" + color + ",0.5)");
    style.getImage().getStroke().setLineDash(calculatedDash);
    style
        .getImage()
        .getFill()
        .setColor("rgba(" + color + ",1)");

    style.getImage().setRadius(radius);

    style.getText().setText(size.toString());
};

</script>

<template>
    <div style="width:800px">"{{ centerWebMercator}}"</div>

    <div id = "map" style="width:800px;height: 800px">
    </div>

</template>

<style scoped>
.read-the-docs {
    color: #888;
}
.overlay-content {
    background: #efefef;
    box-shadow: 0 5px 10px rgb(2 2 2 / 20%);
    padding: 10px 20px;
    font-size: 16px;
}
</style>
