<script setup>
import {reactive, ref, inject } from 'vue'
import { onMounted } from "vue";
import {fromLonLat} from 'ol/proj.js';

const centerWebMercator = fromLonLat([ 9.98707478439496,48.404200449630316]);
const projection = ref("EPSG:3857");
const zoom = ref(8);
const rotation = ref(0);
const trees = reactive([])
const selectedTreePosition = ref([]);
const selectedTree = ref("");

onMounted(async () => {
    const response = await fetch("/AlleBaeumeBezirkSchwaben1.json");
    const readedTrees = await response.json()
    readedTrees
        .forEach(tree => tree.coord = fromLonLat([tree.o.long, tree.o.lt]));
    trees.splice(0, trees.length, ...readedTrees);
});

const featureSelected = (event) => {
    console.log(event);
    if (event.selected.length == 1) {
        selectedTreePosition.value = event.selected[0].values_.coord;
        selectedTree.value = event.selected[0].values_.s;
    } else {
        selectedTree.value = "";
    }
};

const selectInteactionFilter = (feature) => {
    //console.log(feature);
    return feature.values_.s != undefined;
};

const overrideStyleFunction = (feature, style) => {
    let clusteredFeatures = feature.get("features");
    let size = clusteredFeatures.length;

    let color = size > 20 ? "192,0,0" : size > 8 ? "255,128,0" : "0,128,0";
    var radius = Math.max(8, Math.min(size, 20));
    let dash = (2 * Math.PI * radius) / 6;
    let calculatedDash = [0, dash, dash, dash, dash, dash, dash];

    style.getImage().getStroke().setLineDash(dash);
    style
        .getImage()
        .getStroke()
        .setColor("rgba(" + color + ",0.5)");
    style.getImage().getStroke().setLineDash(calculatedDash);
    style
        .getImage()
        .getFill()
        .setColor("rgba(" + color + ",1)");

    style.getImage().setRadius(radius);

    style.getText().setText(size.toString());
};

</script>

<template>
    <div style="width:800px">"{{ centerWebMercator}}"</div>

    <ol-map
            :loadTilesWhileAnimating="true"
            :loadTilesWhileInteracting="true"
            style="height:800px"
    >
        <ol-view ref="view" :center="centerWebMercator"  :rotation="rotation"  :zoom="zoom" :projection="projection" />

        <ol-layerswitcherimage-control />

        <ol-tile-layer>
            <ol-source-osm/>
        </ol-tile-layer>

        <ol-interaction-select @select="featureSelected" :filter="selectInteactionFilter">
            <ol-style>
                <ol-style-icon src="/tree-solid.png" :scale="1.0"></ol-style-icon>
            </ol-style>
        </ol-interaction-select>

        <ol-overlay :position="selectedTreePosition"  v-if="selectedTree">
            <template v-slot="slotProps">
                <div class="overlay-content">
                    Hello world!<br />
                    Sorte: {{ selectedTree }}<br />
                    Position: {{ slotProps.position }}
                </div>
            </template>
        </ol-overlay>

        <ol-interaction-clusterselect @select="featureSelected" >
            <ol-style>
                <ol-style-stroke color="green" :width="5"></ol-style-stroke>
                <ol-style-fill color="rgba(255,255,255,0.5)"></ol-style-fill>
                <ol-style-icon src="/tree-solid.png" :scale="1.0"></ol-style-icon>
            </ol-style>
        </ol-interaction-clusterselect>

        <ol-animated-clusterlayer :animationDuration="500" :distance="40">
            <ol-source-vector ref="vectorsource">
                <ol-feature v-for="tree in trees" :key="tree.n"  :properties="tree">
                    <ol-geom-point   :coordinates="tree.coord"></ol-geom-point>

                    <ol-style>
                        <ol-style-icon src="/tree-solid.png" :scale="1.0"></ol-style-icon>
                    </ol-style>
                </ol-feature>
            </ol-source-vector>

            <ol-style :overrideStyleFunction="overrideStyleFunction">
                <ol-style-stroke color="red" :width="2"></ol-style-stroke>
                <ol-style-fill color="rgba(255,255,255,0.1)"></ol-style-fill>

                <ol-style-circle :radius="20">
                    <ol-style-stroke
                        color="black"
                        :width="15"
                        :lineDash="[]"
                        lineCap="butt"
                    ></ol-style-stroke>
                    <ol-style-fill color="black"></ol-style-fill>
                </ol-style-circle>

                <ol-style-text>
                    <ol-style-fill color="white"></ol-style-fill>
                </ol-style-text>
            </ol-style>
        </ol-animated-clusterlayer>

        <ol-tile-layer title="ESRI" :visible="false">
            <ol-source-xyz
                attributions="Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community"
                url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
                layer="Esri.WorldImagery"
                format="default"

            ></ol-source-xyz>
        </ol-tile-layer>

        <ol-vector-layer>
            <ol-source-vector>

                <ol-feature>
                    <ol-geom-point  :coordinates="centerWebMercator"></ol-geom-point>
                    <ol-style>        <ol-style-icon src="/tree-solid.png" :scale="1.0"></ol-style-icon>                 </ol-style>
                </ol-feature>
                <ol-feature>
                    <ol-geom-circle :center="centerWebMercator" :radius="1010.2"></ol-geom-circle>
                    <ol-style>
                        <ol-style-stroke color="red" :width="3"></ol-style-stroke>
                        <ol-style-fill color="rgba(255,200,0,0.2)"></ol-style-fill>
                    </ol-style>
                </ol-feature>
            </ol-source-vector>
        </ol-vector-layer>



<!--        <ol-vector-layer>
            <ol-source-cluster :distance="40">
                <ol-source-vector>
                    <ol-feature v-for="index in 1000" :key="index">
                        <ol-geom-point
                            :coordinates="[
                getRandomInRange(24, 45, 3),
                getRandomInRange(35, 41, 3),
              ]"
                        ></ol-geom-point>
                    </ol-feature>
                </ol-source-vector>
            </ol-source-cluster>

        </ol-vector-layer>-->
    </ol-map>
</template>

<style scoped>
.read-the-docs {
    color: #888;
}
.overlay-content {
    background: #efefef;
    box-shadow: 0 5px 10px rgb(2 2 2 / 20%);
    padding: 10px 20px;
    font-size: 16px;
}
</style>
