<script setup>
import {reactive, ref, inject } from 'vue'
import { onMounted } from "vue";
import { Map, View } from 'ol';
import { Tile, Vector  } from 'ol/layer';
import {fromLonLat} from 'ol/proj.js';
import {boundingExtent} from 'ol/extent.js';
import { OSM, Cluster } from 'ol/source';
import VectorSource from 'ol/source/Vector.js';
import {LineString, Point, Polygon} from 'ol/geom.js';
import Feature from 'ol/Feature.js';
import {
    Circle as CircleStyle,
    Fill,
    Icon,
    Stroke,
    Style,
    Text,
} from 'ol/style.js';

const centerWebMercator = ref(fromLonLat([ 9.98707478439496,48.404200449630316]));
const projection = ref("EPSG:3857");
const zoom = ref(8);
const rotation = ref(0);
const trees = reactive([])
const selectedTreePosition = ref([]);
const selectedTree = ref("");
var map = ref(null);
var cluster = ref(null);

onMounted(async () => {
    console.log("mounted 1")
    const response = await fetch("/AlleBaeumeBezirkSchwaben.json");
    console.log("mounted 2")
    const readedTrees = await response.json()
    console.log("mounted 3")
    readedTrees
        .forEach(tree => tree.coord = fromLonLat([tree.o.long, tree.o.lt]));
    console.log("mounted 4")
    trees.splice(0, trees.length, ...readedTrees);
    console.log("mounted 5")
});

const trailheadStyle = function (feature) {
    return new Style({
        image: new Icon({
            src: "http://static.arcgis.com/images/Symbols/NPS/npsPictograph_0231b.png",
            scale: 0.25
        })
    })
}

const img = new Image();
img.src = "/tree-solid.png";

const myRend = (coordinates, state) => {
    const x= coordinates[0];
    const y= coordinates[1];
    const ctx = state.context;
    ctx.beginPath();

    ctx.arc(x, y, 30, 0, 2 * Math.PI, true);
    ctx.strokeStyle = 'rgba(255,0,0,1)';
    ctx.stroke();
    ctx.drawImage(img, x, y, 20, 20);
}


const overrideStyleFunction = (feature, style) => {
    let clusteredFeatures = feature.get("features");
    let size = clusteredFeatures.length;

    if (size > 1) {
        style.getText().setText(size.toString());
        style.setRenderer(null);
    } else{
        style.setRenderer(myRend);
    }
};

const featureSelected = (event) => {

    console.log(map.value.map.getSize());
    console.log(event.selected[0].getGeometry());
    console.log(event.selected[0].getGeometry().getCoordinates());
    zoom.value = zoom.value + 1;
    const extent = boundingExtent(   event.selected[0].getGeometry().getCoordinates());
    ap.value.map.getView().fit(extent, {duration: 1000, padding: [50, 50, 50, 50]});

};

const selectInteactionFilter = (feature) => {
    //console.log(feature);
    return feature.values_.s != undefined;
};


function mapClick(event) {
    // `event` is the native DOM event
    console.log(cluster.value.vectorLayer);
    console.log(map.value.map.getEventPixel(event));
    const pixel = map.value.map.getEventPixel(event)

    if (pixel) {
        console.log(map.value.map.getFeaturesAtPixel(pixel));
        cluster.value.vectorLayer.getFeatures(pixel).then((clickedFeatures) => {

            if (clickedFeatures.length) {
                // Get clustered Coordinates
                const features = clickedFeatures[0].get('features');
                if (features.length > 1) {
                    const extent = boundingExtent(
                        features.map((r) => r.getGeometry().getCoordinates())
                    );
                    map.value.map.getView().fit(extent, {duration: 1000, padding: [50, 50, 50, 50]});
                }
            }
        });
    }

}
</script>

<template>
    <div style="width:800px">"{{ centerWebMercator}}"</div>

    <ol-map
        ref="map"
        :loadTilesWhileAnimating="true"
        :loadTilesWhileInteracting="true"
        style="height:800px"
        @click="mapClick"
    >
        <ol-view ref="view" :center="centerWebMercator"  :rotation="rotation"  :zoom="zoom" :projection="projection" />

        <ol-layerswitcherimage-control />

        <ol-tile-layer>
            <ol-source-osm/>
        </ol-tile-layer>

        <ol-vector-layer ref="cluster">
            <ol-source-cluster :distance="40">
                <ol-source-vector ref="vectorsource">
                    <ol-feature v-for="tree in trees" :key="tree.n"  :properties="tree">
                        <ol-geom-point   :coordinates="tree.coord"></ol-geom-point>
                    </ol-feature>
                </ol-source-vector>
            </ol-source-cluster>
            <ol-style :overrideStyleFunction="overrideStyleFunction">

                <ol-style-circle :radius="10">
                    <ol-style-fill color="#3399CC"></ol-style-fill>
                    <ol-style-stroke color="#fff" :width="1"></ol-style-stroke>
                </ol-style-circle>
                <ol-style-text>
                    <ol-style-fill color="#fff"></ol-style-fill>
                </ol-style-text>
            </ol-style>
        </ol-vector-layer>

        <ol-tile-layer title="ESRI" :visible="false">
            <ol-source-xyz
                attributions="Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community"
                url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
                layer="Esri.WorldImagery"
                format="default"

            ></ol-source-xyz>
        </ol-tile-layer>

    </ol-map>
</template>


<style scoped>
.read-the-docs {
    color: #888;
}
.overlay-content {
    background: #efefef;
    box-shadow: 0 5px 10px rgb(2 2 2 / 20%);
    padding: 10px 20px;
    font-size: 16px;
}
</style>
