<div id="q-app">

</div>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.12.7/dist/quasar.umd.prod.js"></script>
<script>
    /* <![CDATA[ */
    const { createApp, ref  } = Vue

    const TreeMap = {
        template: `

          <div class="map-center" id = "mapId"> </div>
          <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div>
              <p>{{selectedTree.n}}</p>
              <code>{{selectedTree.s}}</code>
              <p>{{selectedTree.g}}</p>
            </div>
          </div>
        `,
        props: ['filteredTrees', 'showEsri'],
        mounted() {
            console.log("onMounted2")
            const container = document.getElementById('popup');
            const closer = document.getElementById('popup-closer');
            const markerTreeStyle = new ol.style.Style({ image: new ol.style.Icon({ anchor: [0.5, 1], src: '/app/download/16596135222/tree-solid.png?t=1690970243'})})

            const clusterCircleStyle = (feature) => {

                const size = feature.get('features').length;
                return [
                    new ol.style.Style({
                        image: new ol.style.Circle({radius: 20, fill: new ol.style.Fill({ color: 'rgba(255, 153, 102, 0.3)'})}),
                    }),
                    new ol.style.Style({
                        image: new ol.style.Circle({radius: 14, fill: new ol.style.Fill({  color: 'rgba(255, 165, 0, 0.7)'})}),
                        text: new ol.style.Text({
                            text: size.toString(),
                            fill: new ol.style.Fill({color: '#fff'}),
                            stroke: new ol.style.Stroke({color: 'rgba(0, 0, 0, 0.6)', width: 3,}),
                        }),
                    }),
                ];
            }

            const overlay = new ol.Overlay({
                element: container,
                autoPan: {
                    animation: {
                        duration: 250,
                    },
                },
            });
            closer.onclick = function () {
                overlay.setPosition(undefined);
                closer.blur();
                return false;
            };

            this.map = new ol.Map({
                target: 'mapId',
                controls: ol.control.defaults.defaults().extend([new ol.control.FullScreen(), this.extentControl]),
                layers: [ this.osmLayer, this.esriLayer],
                view: new ol.View({ center: this.centerWebMercator,zoom: 8.5, maxZoom:19}),
                overlays: [overlay],
            })
            this.updateTrees()
            const clusterSource = new ol.source.Cluster({ distance: 40, minDistance: 1, source: this.markerSource, });
            const markerLayer = new ol.layer.Vector({ source: this.markerSource, style: markerTreeStyle, minZoom: this.CLUSTER_ZOOM_LEVEL});
            const clusterLayer = new ol.layer.Vector({source: clusterSource, style: clusterCircleStyle, maxZoom: this.CLUSTER_ZOOM_LEVEL});
            this.map.addLayer(clusterLayer);
            this.map.addLayer(markerLayer);
            this.map.on('click', (event) => {
                if(this.map.getView().getZoom() < this.CLUSTER_ZOOM_LEVEL) {

                    clusterLayer.getFeatures(event.pixel).then((clickedFeatures) => {
                        if (clickedFeatures.length) {
                            const features = clickedFeatures[0].get('features');
                            const extent =  ol.extent.boundingExtent(
                                features.map((r) => r.getGeometry().getCoordinates())
                            );
                            this.map.getView().fit(extent, {duration: 1000, padding: [50, 50, 50, 50]});
                        }
                    });
                }
                if(this.map.getView().getZoom() >= this.CLUSTER_ZOOM_LEVEL) {
                    markerLayer.getFeatures(event.pixel).then((clickedFeatures) => {
                        if (clickedFeatures.length) {
                            this.selectedTree =  clickedFeatures[0].get("tree")
                            overlay.setPosition(event.coordinate);
                        } else {
                            overlay.setPosition(undefined);
                        }
                    });
                }
            });
        },
        watch: {
            showEsri(first, second) {

                this.esriLayer.setVisible(this.showEsri);
                this.osmLayer.setVisible(!this.showEsri);
            },
            filteredTrees(first, second) {

                this.updateTrees();
            },
        },
        data() {
            return {
                centerWebMercator: ol.proj.fromLonLat([ 9.98707478439496,48.404200449630316]),
                map: null,
                selectedTree: ref(""),
                CLUSTER_ZOOM_LEVEL: 15,
                markerSource: new ol.source.Vector({ features: [] }),
                osmLayer: new ol.layer.Tile({source: new ol.source.OSM()}),
                esriLayer: new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        attributions:
                            'Tiles © <a href="https://server.arcgisonline.com/ArcGIS/rest/services/' +
                            'World_Imagery/MapServer">ArcGIS</a>',
                        url:
                            'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                            'World_Imagery/MapServer/tile/{z}/{y}/{x}}',
                    }),
                    visible: this.showEsri
                }),
                extentControl: new ol.control.ZoomToExtent({ extent: [ 1071037.1035744152, 6009114.537971, 1255779.6064949369, 6274949.685278939 ],label: 'Z', tipLabel: "Zoom auf Ausgewählte"})
            }
        },
        methods: {
            updateTrees: function() {

                const allMarker = []
                if (this.filteredTrees) {
                    this.filteredTrees.forEach(tree => {
                            const feature = new ol.Feature({type: 'geoMarker', geometry: new ol.geom.Point(ol.proj.fromLonLat([tree.o.long, tree.o.lt], ))});
                            feature.set("tree", tree);
                            allMarker.push(feature);
                        }
                    );
                }
                this.markerSource.clear();
                this.markerSource.addFeatures(allMarker);
                const extent = ol.extent.boundingExtent(
                    allMarker.map((r) => r.getGeometry().getCoordinates())
                );
                this.extentControl.extent = extent;
            },
            computed: {
            }
        },

    }

    const RootComponent = {
        components: {
            TreeMap,
        },
        template: `
          <div  class="row">
              <div class="col-5"><q-select outlined v-model="selectedLandkreis" :options="regions" label="Kreis (Anzahl Sorten)" stack-label :dense="true" :options-dense="true"></q-select></div>
                <div class="col-5"><q-select outlined v-model="selectedSorte" :options="sortenFiltered" label="Sorten Suche" :dense="true" :options-dense="true" clearable use-input hide-selected fill-input
                                           @filter="filterFnAutoselect">
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        Keine Ergebnisse
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select></div>
            <div class="col"> <q-checkbox outlined v-model="showEsri" label="Sat"/></div>
          </div>
          <tree-map :filtered-trees="filteredTrees" :show-esri="showEsri"></tree-map>
        `,
        data() {
            return {
                ALL_REGIONS: "Alle",
                allReadedTrees: ref(allTreesSchwaben),
                sortenFiltered: ref([]),
                selectedSorte:  ref(''),
                selectedLandkreis: ref({}),
                showEsri:  Vue.ref(false),
            }
        },
        computed: {
            filteredTrees:  function() {
                return allTreesSchwaben.filter(tree=>(this.isTreeSelected(tree))
                    && ((this.selectedLandkreis.value ==="Alle") || this.selectedLandkreis.value ===tree.k))
            },
            allTreesSchwaben:  function() {
                const bezeichnungen = this.allReadedTrees.map(tree=>tree.s);
                return [...new Set(bezeichnungen)].sort(); // unique bezeichnungen
            },
            regions: function() {
                const kreiseObj = new Set(this.allReadedTrees
                    .map( tree => tree.k));
                const kreise =  [...kreiseObj].sort();
                const kreisWithCount = kreise
                    .map( kreis => this.regionWithCount(kreis));
                kreisWithCount.unshift(this.allWithCount() );
                this.selectedLandkreis = this.selectedLandkreis.value === this.ALL_REGIONS ? this.allWithCount() : this.regionWithCount(this.selectedLandkreis.value)
                return kreisWithCount;
            },
        },
        methods: {
            isTreeSelected: function (tree) {
                return this.selectedSorte === null || this.selectedSorte.length === 0
                    || tree.s.toLowerCase().includes(this.selectedSorte.toLowerCase());
            },
            regionWithCount: function (region) {
                const count = this.allReadedTrees
                    .filter(tree => this.isTreeSelected(tree) && region === tree.k)
                    .length;
                return {value: region, label: region + " (" + count + ")"}
            },
            allWithCount :  function () {
                const countAlle =  this.allReadedTrees
                    .filter(tree => this.isTreeSelected(tree))
                    .length;
                return { value: this.ALL_REGIONS, label: this.ALL_REGIONS + " ("+countAlle+")"}
            },
            filterFnAutoselect: function (val, update) {

                setTimeout(() => {
                    update(
                        () => {
                            this.sortenFiltered = (val === '') ? this.allTreesSchwaben
                                : this.allTreesSchwaben.filter(v => v.toLowerCase().indexOf(val.toLowerCase()) > -1)
                        },

                        ref => {
                            if (val !== '' && ref && ref.options.length > 0 && ref.getOptionIndex() === -1) {
                                ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
                                ref.toggleOption(this.sortenFiltered[ref.optionIndex], true) // toggle the focused option
                            }
                        }
                    )
                }, 300)
            },
        } ,
        mounted() {
            this.sortenFiltered = this.allTreesSchwaben
            this.selectedLandkreis = this.allWithCount()
        }
    }

    const app = createApp(RootComponent)

    app.use(Quasar)
    app.mount('#q-app')
    /*]]>*/
</script>