<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Test</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@2.12.7/dist/quasar.prod.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
  <script type="text/javascript">
    //<![CDATA[
    window.readedTreesJson = [{
      "n": "7500",
      "s": "Schöner von Boskoop",
      "o": {
        "lt": 48.74642657,
        "long": 10.94072907
      },
      "k": "DON",
      "g": "Marxheim",
      "a": "Apfel"
    },
      {
        "n": "7501",
        "s": "Josef Musch",
        "o": {
          "lt": 48.74695485,
          "long": 10.94079884
        },
        "k": "DON",
        "g": "Marxheim",
        "a": "Apfel"
      },
      {
        "n": "7502",
        "s": "Welschisner",
        "o": {
          "lt": 48.7471161,
          "long": 10.94086656
        },
        "k": "DON",
        "g": "Marxheim",
        "a": "Apfel"
      },
      {
        "n": "3754",
        "s": "Rheinischer Bohnapfel",
        "o": {
          "lt": 47.918854,
          "long": 10.180842
        },
        "k": "Unterallgaeu",
        "g": null,
        "a": "Apfel"
      },
      {
        "n": "3755",
        "s": "Birne ohne Behang",
        "o": {
          "lt": 47.918782,
          "long": 10.180691
        },
        "k": "Unterallgaeu",
        "g": null,
        "a": "Birne"
      },
      {
        "n": "3756",
        "s": "Apfel aus Croncels",
        "o": {
          "lt": 47.919015,
          "long": 10.180513
        },
        "k": "Unterallgaeu",
        "g": null,
        "a": "Apfel"
      }]
  </script>
  <style>
    .map-center {
      width: 100%; height: 100%; position:fixed
    }

    .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px;
    }
    .ol-popup-closer:after {
      content: "✖";
    }

    .ol-popup {
      position: absolute;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0,0,0,0.2);
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #cccccc;
      bottom: 12px;
      left: -50px;
      min-width: 280px;
    }
    .ol-popup:after, .ol-popup:before {
      top: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .ol-popup:after {
      border-top-color: white;
      border-width: 10px;
      left: 48px;
      margin-left: -10px;
    }
    .ol-popup:before {
      border-top-color: #cccccc;
      border-width: 11px;
      left: 48px;
      margin-left: -11px;
    }
    .ol-popup-closer {
      text-decoration: none;
      position: absolute;
      top: 2px;
      right: 8px;
    }
  </style>
</head>
<body>
<div id="q-app">

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.12.7/dist/quasar.umd.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>

<script>

  const { FullScreen } = 'ol/control.js'
  const { OSM, Cluster, XYZ  } = 'ol/source';
  const { createApp, ref, shallowRef, onMounted, created  } = Vue

  const TreeMap = {
      template: `

          <div class="map-center" id = "mapId"> </div>
          <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div>
              <p>{{selectedTree.n}}</p>
              <code>{{selectedTree.s}}</code>
              <p>{{selectedTree.g}}</p>
            </div>
          </div>
        `,

      props: ['filteredTrees', 'showEsri'],
      mounted() {

      const container = document.getElementById('popup');
      const closer = document.getElementById('popup-closer');
      const markerTreeStyle = new ol.style.Style({ image: new ol.style.Icon({ anchor: [0.5, 1], src: '/tree-solid.png'})})

      const clusterCircleStyle = (feature) => {

        const size = feature.get('features').length;
        return [
          new ol.style.Style({
            image: new ol.style.Circle({radius: 20, fill: new ol.style.Fill({ color: 'rgba(255, 153, 102, 0.3)'})}),
          }),
          new ol.style.Style({
            image: new ol.style.Circle({radius: 14, fill: new ol.style.Fill({  color: 'rgba(255, 165, 0, 0.7)'})}),
            text: new ol.style.Text({
              text: size.toString(),
              fill: new ol.style.Fill({color: '#fff'}),
              stroke: new ol.style.Stroke({color: 'rgba(0, 0, 0, 0.6)', width: 3,}),
            }),
          }),
        ];
      }

      const overlay = new ol.Overlay({
          element: container,
          autoPan: {
            animation: {
              duration: 250,
            },
          },
        });
      closer.onclick = function () {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
      };

      this.map = new ol.Map({
           target: 'mapId',
           controls: ol.control.defaults.defaults().extend([new ol.control.FullScreen(), this.extentControl]),
           layers: [ this.osmLayer, this.esriLayer],
           view: new ol.View({ center: this.centerWebMercator,zoom: 8.5, maxZoom:19}),
           overlays: [overlay],
         })
      this.updateTrees()
      const clusterSource = new ol.source.Cluster({ distance: 40, minDistance: 1, source: this.markerSource, });
      const markerLayer = new ol.layer.Vector({ source: this.markerSource, style: markerTreeStyle, minZoom: this.CLUSTER_ZOOM_LEVEL});
      const clusterLayer = new ol.layer.Vector({source: clusterSource, style: clusterCircleStyle, maxZoom: this.CLUSTER_ZOOM_LEVEL});
      this.map.addLayer(clusterLayer);
      this.map.addLayer(markerLayer);
      this.map.on('click', (event) => {
        if(this.map.getView().getZoom() < this.CLUSTER_ZOOM_LEVEL) {

          clusterLayer.getFeatures(event.pixel).then((clickedFeatures) => {
            if (clickedFeatures.length) {
              const features = clickedFeatures[0].get('features');
              const extent =  ol.extent.boundingExtent(
                      features.map((r) => r.getGeometry().getCoordinates())
              );
              this.map.getView().fit(extent, {duration: 1000, padding: [50, 50, 50, 50]});
            }
          });
        }
        if(this.map.getView().getZoom() >= this.CLUSTER_ZOOM_LEVEL) {
          markerLayer.getFeatures(event.pixel).then((clickedFeatures) => {
            if (clickedFeatures.length) {
              this.selectedTree =  clickedFeatures[0].get("tree")
              overlay.setPosition(event.coordinate);
            } else {
              overlay.setPosition(undefined);
            }
          });
        }
      });
    },
  watch: {
      showEsri(first, second) {

        this.esriLayer.setVisible(this.showEsri);
        this.osmLayer.setVisible(!this.showEsri);
      },
      filteredTrees(first, second) {

        this.updateTrees();
      },
    },
    data() {
      return {
        centerWebMercator: ol.proj.fromLonLat([ 9.98707478439496,48.404200449630316]),
        map: null,
        selectedTree: ref(""),
        CLUSTER_ZOOM_LEVEL: 15,
        markerSource: new ol.source.Vector({ features: [] }),
        osmLayer: new ol.layer.Tile({source: new ol.source.OSM()}),
        esriLayer: new ol.layer.Tile({
          source: new ol.source.XYZ({
            attributions:
                    'Tiles © <a href="https://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Imagery/MapServer">ArcGIS</a>',
            url:
                    'https://server.arcgisonline.com/ArcGIS/rest/services/' +
                    'World_Imagery/MapServer/tile/{z}/{y}/{x}}',
          }),
          visible: this.showEsri
        }),
       extentControl: new ol.control.ZoomToExtent({ extent: [ 1071037.1035744152, 6009114.537971, 1255779.6064949369, 6274949.685278939 ],label: 'Z', tipLabel: "Zoom auf Ausgewählte "})
      }
    },
    methods: {
      updateTrees: function() {

        const allMarker = []
        if (this.filteredTrees) {
          this.filteredTrees.forEach(tree => {
                    const feature = new ol.Feature({type: 'geoMarker', geometry: new ol.geom.Point(ol.proj.fromLonLat([tree.o.long, tree.o.lt], ))});
                    feature.set("tree", tree);
                    allMarker.push(feature);
                  }
          );
        }
        this.markerSource.clear();
        this.markerSource.addFeatures(allMarker);
        const extent = ol.extent.boundingExtent(
              allMarker.map((r) => r.getGeometry().getCoordinates())
          );
        this.extentControl.extent = extent;
      },
    computed: {
      }
    },

  }

  const RootComponent = {
      components: {
          TreeMap,
      },
      template: `
        <q-layout view="hHh lpR fFf">
          <q-header elevated class="bg-white text-primary q-py-xs">
            <div  class="row">
              <div class="col-5"><q-select outlined v-model="selectedLandkreis" :options="regions" label="Kreis (Anzahl Sorte)" stack-label :dense="true" :options-dense="true"></q-select></div>
              <div class="col-5"><q-select outlined v-model="selectedSorte" :options="sortenFiltered" label="Sorte" :dense="true" :options-dense="true" clearable use-input hide-selected fill-input
                                         @filter="filterFnAutoselect">
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      Keine Ergebnisse
                    </q-item-section>
                  </q-item>
                </template>
              </q-select></div>
              <div class="col"> <q-checkbox outlined v-model="showEsri" label="Sat"/></div>
            </div>
          </q-header>
          <q-page-container>
            <q-page>
              <tree-map :filtered-trees="filteredTrees" :show-esri="showEsri"></tree-map>
            </q-page>
          </q-page-container>
        </q-layout>
        `,

    data() {
      return {
        ALL_REGIONS: "Alle",
        allReadedTrees: ref(readedTreesJson),
        sortenFiltered: ref([]),
        selectedSorte:  ref(''),
        selectedLandkreis: ref({}),
        showEsri:  Vue.ref(false),
      }
    },
    computed: {
      filteredTrees:  function() {
        return readedTreesJson.filter(tree=>(this.isTreeSelected(tree))
                && ((this.selectedLandkreis.value === this.ALL_REGIONS) || this.selectedLandkreis.value ===tree.k))
      },
      alleSortenNamen:  function() {
        const bezeichnungen = this.allReadedTrees.map(tree=>tree.s);
        return [...new Set(bezeichnungen)].sort(); // unique bezeichnungen
      },
      regions: function() {
        const kreiseObj = new Set(this.allReadedTrees
            .map( tree => tree.k));
        const kreise =  [...kreiseObj].sort();
        const kreisWithCount = kreise
            .map( kreis => this.regionWithCount(kreis));
        kreisWithCount.unshift(this.allWithCount() );
        this.selectedLandkreis = this.selectedLandkreis.value === this.ALL_REGIONS ? this.allWithCount() : this.regionWithCount(this.selectedLandkreis.value)
        return kreisWithCount;
      },
    },
    methods: {
      isTreeSelected: function (tree) {
        return this.selectedSorte === null || this.selectedSorte.length === 0
                || tree.s.toLowerCase().includes(this.selectedSorte.toLowerCase());
      },
      regionWithCount: function (region) {
        const count = this.allReadedTrees
            .filter(tree => this.isTreeSelected(tree) && region === tree.k)
            .length;
        return {value: region, label: region + " (" + count + ")"}
      },
      allWithCount :  function () {
            const countAlle =  this.allReadedTrees
                .filter(tree => this.isTreeSelected(tree))
                .length;
        return { value: this.ALL_REGIONS, label: this.ALL_REGIONS + " ("+countAlle+")"}
     },
     filterFnAutoselect: function (val, update) {

        setTimeout(() => {
          update(
                  () => {
                    this.sortenFiltered = (val === '') ? this.alleSortenNamen
                            : this.alleSortenNamen.filter(v => v.toLowerCase().indexOf(val.toLowerCase()) > -1)
                  },

                  ref => {
                    if (val !== '' && ref && ref.options.length > 0 && ref.getOptionIndex() === -1) {
                      ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
                      ref.toggleOption(this.sortenFiltered[ref.optionIndex], true) // toggle the focused option
                    }
                  }
          )
        }, 300)
      },
    },
    mounted() {
      this.sortenFiltered = this.alleSortenNamen
      this.selectedLandkreis = this.allWithCount()
    }
    }

  const app = createApp(RootComponent)

  app.use(Quasar)
  app.mount('#q-app')

</script>
  </body>
</html>